body
{
    background-image: url(fond.jpeg);
}
img
{
    float: right;
    width: 180px;
height: 180px;
}
.présentation
{
    float: right;
    font-weight: bold;
}
.Contact
{
    font-weight: bold;
    float: left
}
.Titre
{
text-align: center;
clear: both;
}
.Info
{
    text-align: center;
    font-size: 22px;
    
}